<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<h1>Board Details</h1>
<div th:if="${board}">
    <h1 th:text="${board.boardId}"> Board ID </h1>
    <h2 th:text="${board.title}">Board Title</h2>
    <p th:text="${board.content}">Board Content</p>
    <div th:replace="~{replyDetail :: replyDetails(${board.replyList})}"></div>
</div>
<div th:if="${board == null}">
    <p>Board not found.</p>
</div>
</body>
</html>
